version: 2.1

jobs:
  build:
    docker:
      - image: 'circleci/openjdk:11-jdk'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar`

orbs:
  maven: circleci/maven@1.1

workflows:
  main:
    jobs:
      - build:
          context: sonarcloud
